<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>キャンセルされた受講生リスト</title>
</head>
<body>
<h1>キャンセルされた受講生リスト</h1>
<table border="1">
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>復元</th>
  </tr>
  <tr th:each="student : ${canceledStudentList}">
    <td th:text="${student.id}"></td>
    <td th:text="${student.name}"></td>
    <td th:text="${student.nickname}"></td>
    <td th:text="${student.email}"></td>
    <td>
      <form th:action="@{/restoreStudent/{id}(id=${student.id})}" method="post">
        <button type="submit">復元</button>
      </form>
    </td>
  </tr>
</table>
</body>
</html>
